/* Ubuntu Regular */
@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  src: local('Ubuntu'), url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
    url('../fonts/Ubuntu-Regular.woff') format('woff'),
    url('../fonts/Ubuntu-Regular.eot') format('eot');
  font-display: swap;
}

/* Inter Bold */
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: local('Inter'), url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.eot') format('eot');
  font-display: swap;
}
